* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #505f75;
  padding: 0px;
  margin: 0px;
}

/* faz parte do cabeçalho */
header {
  background-color: #333;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 25pt;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: end;
}

.btn-outline-light {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-warning {
  background-color: #2e06ce;
  color: #fbf6f6;
  margin-left: 10px;
  margin-right: 20px;
}
.dl {
  display: flex;
  
}

/*faz parte da página index.html */

p {
  text-align: justify;
  margin-inline: 30px;
  font-size: 22px;
  color: black;
}
h3 {
  color:black;
  padding-top: 10px;
  font-size: 20pt;
  text-align: center;
  margin-block: 50px;
}

/* faz parte do rodapé*/
footer {
  width: auto;
  padding-top: 100px;
  color: #fff;
}
.items {
  display: flex;
  justify-content: space-between;
  margin-inline: 50px;
  padding-block: 20px;
  
}
ul {
  list-style: none;
}
.c {
  margin-top: 700px;
}
.l {
  margin-top: 550px;
}
h4 {
  font-size: 50pt;
  text-align: end;
  padding-right: 100px;
  animation: slide-in 2s forwards;
}
.items2 {
  display: flex;
  justify-content: center;
  margin-inline: 50px;
  padding-block: 20px;
}

/* faz parte da página de signup e login*/
h2 {
  color:black;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}




.Sign_up {
  display: inline-block;
  background: #fff;
  box-shadow:0 15px 30px blue, 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  width: 40%;
  position: absolute;
  margin-top: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login {
  display: inline-block;
  background: #fff;
  box-shadow:0 15px 30px red, 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input, button {
  border: none;
  outline: none;
  background: none;
 
}

.form{
  
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out ;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transfrom 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
 
}
label{
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #505f75;
}
button{
  display: block;
  margin:  20px auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  background-color: blue;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}
button:hover{
  background-color: red;
}
a {
  text-decoration: none;
  display: block;
  margin-block: 20px;
  text-align: center;
  color: black;
  font-size: larger;
  font-family: cursive;
}

/* faz parte da responsividade */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 650px) {

  .items {
    width: auto;
  }

  .login, .Sign_up {
    margin-block: 150px;
    width: 300px;
    border-radius: 25px;
  }
  button {
    width: 200px;
    font-size: 20px;
  }
  label {
    width: auto;
    font-size: 20px;
    padding: 5px;
  }
  footer {
    margin-top: 800px;
  }
  h4 {
    font-size: 20pt;
    text-align: end;
    padding-right: 100px;
    animation: slide-in 2s forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  
  header {
    height: 150px;
    
  }
  footer {
    margin-top: 100px;
  }
  .title {
    font-size: 20pt;
  }
 
  
}

