* {
  margin: 0;
  padding: 0;
  background-color: #2C3E50;
  
}
header, h1{
  background-color: #0A66C2;
  color:black;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}
h2 {
  color:black;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}
ul {
  list-style: none;
}
li, .l {
  background-color: #000000;
  color: #fff;
}
.items{
  margin-block: 50px;
  margin-inline: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}

footer {
  width: auto;
  height: 200px;
  padding-block: 65px;
}


.cadastrar {
  display: inline-block;
  background: #fff;
  box-shadow:0 15px 30px blue, 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  width: 40%;
  margin-block: 50px;
  margin-inline: 400px;
}
.login {
  display: inline-block;
  background: #fff;
  box-shadow:0 15px 30px red, 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  width: 40%;
  margin-block: 50px;
  margin-inline: 400px;
}

input, button {
  border: none;
  outline: none;
  background: none;
 
}
h3 {
  color:black;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  margin-block: 50px;
}
.form{
  
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out ;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transfrom 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
label{
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #505f75;
}
button{
  display: block;
  margin:  20px auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  background-color: blue;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}
button:hover{
  background-color: red;
}
a {
  text-decoration: none;
  display: block;
  margin-block: 20px;
  text-align: center;
  color: black;
  font-size: larger;
  font-family: cursive;
}
