<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/feed.css">
  <title>Feed</title>
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div><a href="#" class="title">The Community</a></div>
        <div id="divBusca">
          <input type="text" id="txtBusca" placeholder="Buscar..."/>
        </div>
        <div class="dl">
          <img src="../static/img/perfil.png" class="foto-perfil" alt="foto-do-perfil">
          <select id="appearance-select">
            <option>Configuração</option>
            <option>Primeira opção</option>
            <option>Segunda opção</option>
            <option>Terceira opção</option>
            <option>Quarta opção</option>
         </select>
        </div>
      </nav>
    </div>
  </header>
  <section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio iusto fugit eveniet ipsum laboriosam repudiandae unde repellendus commodi ex, accusamus, voluptatem maiores architecto impedit? Quae obcaecati dolores nobis molestias.
    <br><br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio iusto fugit eveniet ipsum laboriosam repudiandae unde repellendus commodi ex, accusamus, voluptatem maiores architecto impedit? Quae obcaecati dolores nobis molestias.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio iusto fugit eveniet ipsum laboriosam repudiandae unde repellendus commodi ex, accusamus, voluptatem maiores architecto impedit? Quae obcaecati dolores nobis molestias.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio iusto fugit eveniet ipsum laboriosam repudiandae unde repellendus commodi ex, accusamus, voluptatem maiores architecto impedit? Quae obcaecati dolores nobis molestias.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio iusto fugit eveniet ipsum laboriosam repudiandae unde repellendus commodi ex, accusamus, voluptatem maiores architecto impedit? Quae obcaecati dolores nobis molestias.
  </section>
</body>
</html>